.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:blue ;
}

.logo img {
    width: 150px;
    height: 60px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: white;
    text-decoration: none;
}